#pragma once

#define WIFI_SSID     "tu_ssid_aqui"
#define WIFI_PASSWORD "tu_password_aqui"

#define MQTT_SERVER   "192.168.x.x"
#define MQTT_PORT     1883
#define MQTT_USER     ""
#define MQTT_PASSWORD ""
